{% extends "HelloWorld::hello" %}

    {% block PageBody %}
        <h1 style="text-align: center"> top items found!</h1>
        <div class="col-xs-12 card-deck-wrapper" style="overflow: auto">
            <ul class="list-unstyled card-deck" style="height: 380px">
                {{ completeData | json_encode }}
            </ul>
        </div>
        <br><br>
        <p>Category Link Tree</p>
            <div>
                {{ systemInfo | json_encode }}
            </div>
            <br><br>
            <p>Category Repository</p>
            <div>
                {{ children | json_encode }}
            </div>
            <br><br>
                <p>Correlation</p>
            <div>
                {{ info | json_encode }}
            </div><br><br>
            <div>
                {{ settingInfo | json_encode }}
            </div><br><br>
            <div>
                {{ attributes | json_encode }}
            </div>
    {% endblock %}